* {
	font-family: "Roboto", sans-serif;
	vertical-align: bottom;
	/*max-width: 800px;*/

}

@media only screen and (max-width:500px){
	p{
		display:none;
	}
	.col-9{
		background-color: blue;
	}
}

#company-logo{
	border-radius: 50%;
}

#name{
	margin-top: 15px;
	margin-bottom: 0px;
	text-align: right;
	color:#747704;
	text-transform:uppercase;

}

#nickname{
	margin-top: 0px;
	margin-bottom: 5px;
	color:#747704;
	text-transform:uppercase;
	text-align: right;

}

body{
	max-width:700px;
	margin: 0 auto;
}

#page-wrap{
	margin:10px;
}

h2{
	color:#BCBBBB;
	margin-bottom: 0px;
}

h3{
	color:#747704;
	margin-top: 0px;
	text-align: center;
}

/* to insert a horizontal line */
hr{
	display: block;
	height: 1px;
	border:0;
	border-top:3px solid #ccc;
	margin:10px 0;
	padding:0;
}

.row{
	width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.col-1{
	width: 8.33%;
}

.col-2{
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
	min-width: 150px;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

